{% extends 'base.html.twig' %}

{% block title %}My CV{% endblock %}

{% block body %}
<div class="bg-dark border-bottom border-bottom-dark" data-bs-theme="dark" id="nav">
    <div class="text-center header py-2">
        <h1>Data</h1>
    </div>
</div>
<!-- CV Form  -->
<div class="container" id="cv-form">
    <div class="row my-2">
        <div class="col-md-6">
            <!-- first col -->
            <h3>Personal Information</h3>
            <div class="form-group">
                <label for="nameFeild">Your Name</label>
                <input type="text" class="form-control" id="nameFeild" placeholder="Enter here">
            </div>
            <div class="form-group mt-2">
                <label for="eduFeild">Your Current Education</label>
                <input type="text" class="form-control" id="eduFeild" placeholder="Enter here">
            </div>
            <!-- Contact Number -->
            <div class="form-group mt-2">
                <label for="contactFeild">Your Contact</label>
                <input type="tel" class="form-control" id="contactFeild" placeholder="Enter here">
            </div>
            <!-- Email ID -->
            <div class="form-group mt-2">
                <label for="emailFeild">Your Email ID</label>
                <input type="email" class="form-control" id="emailFeild" placeholder="Enter here">
            </div>
            <!-- Date of Birth -->
            <div class="form-group mt-2">
                <label for="doblFeild">Your DOB</label>
                <input type="date" class="form-control" id="dobFeild" placeholder="Enter here">
            </div>
            <!-- Profile picture  -->
            <div class="form-group mt-2">
                <label for="picFeild">Select Your Profile Photo</label>
                <input type="file" class="form-control" id="picFeild">
            </div>
            <!-- Address -->
            <div class="form-group mt-2">
                <label for="addressFeild"> Your Address</label>
                <textarea type="text" class="form-control" id="addressFeild" placeholder="Enter here"></textarea>
            </div>
            <!-- Area of Interest -->
            <div class="form-group mt-2">
                <label for="interestFeild">Area of Interest</label>
                <textarea type="text" class="form-control" id="interestFeild" placeholder="Enter here"></textarea>
            </div>
            <!-- Important Links -->
            <p class="text-secondary my-3">Important Links</p>
            <div class="form-group">
                <label for="gitFeild">GitHub Link</label>
                <input type="text" class="form-control" id="gitFeild" placeholder="Enter here">
            </div>
            <div class="form-group mt-2">
                <label for="linkdinFeild">Linkdin Profile Link</label>
                <input type="text" class="form-control" id="linkedinFeild" placeholder="Enter here">
            </div>
            <div class="form-group mt-2">
                <label for="fbFeild">Facebook Link</label>
                <input type="text" class="form-control" id="fbFeild" placeholder="Enter here">
            </div>
            <div class="form-group mt-2">
                <label for="instaFeild">Instagram Link</label>
                <input type="text" class="form-control" id="instaFeild" placeholder="Enter here">
            </div>
            <div class="form-group mt-2">
                <label for="twitterFeild">Twitter Account Link</label>
                <input type="text" class="form-control" id="twitterFeild" placeholder="Enter here">
            </div>
        </div>
        <div class="col-md-6">
            <!-- second col -->
            <h3>Professional Information</h3>
            <!-- Academic Qualifications -->
            <div class="form-group mt-2" id="AddAQ">
                <label for="">Academic Qualifications</label>
                <textarea type="text" class="form-control eqFeild" placeholder="Enter here"></textarea>
                <!-- New Text Area-->
                <div class="container text-center mt-2" id="aqAdd
</div>
        </div>
    </div>
</div>
{% endblock %}